<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <style>
        *{
            margin:0;
            padding:0;
        }
        body{
            color: white !important;
            font-size: 18px;
        }

    </style>
</head>
<body>

        <div class="container-fluid">
             <%- include('../partials/nav') %>
              <div class="row">
                 <div class="col">
                     <main style="height: 100vh; background-color: #201658">
                        <div class="row d-flex justify-content-evenly align-items-center">
                            <div class="col-md-6">
                                <img src="../assest/2022-12-26.jpg"   class="img-fluid" />
                             </div>
                            <div class="col-md-6">
                                <h4 class="m-3">Welcome to jspider</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus esse dolorem provident, est qui modi alias fuga perferendis impedit doloremque animi eaque voluptatum illo vel quod, blanditiis porro reprehenderit neque culpa veniam cupiditate vero enim nam. Quaerat sit minus cupiditate, veritatis nesciunt eligendi magnam? Dolorum eius ex esse ratione exercitationem excepturi facilis quidem cumque provident, nam sint minus laboriosam adipisci laborum molestias accusamus porro dignissimos atque ea aliquid autem mollitia quod nostrum sapiente. Cum, fugit voluptatibus! Provident placeat sunt, ducimus maxime ipsa dolore necessitatibus illo totam non voluptatibus vitae praesentium maiores ut, fugiat, ratione et odio eveniet architecto explicabo! Nihil.</p>
                                <hr/>
                                <button class="btn btn-info">Download</button>
                            </div>
                        </div>
                    </main>
                 </div>
            </div>
           
            <%- include('../partials/footer') %>
        </div>
</body>
</html>